html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

.container-fluid {
    height: inherit;
    background-color: #f0e4e4;
}

[for="sair"] > img:hover {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}

[for="sair"] {
    width: 06em;
    height: 06em;
}