/* 
299C95: Verdinho
DC1C1C: Vermelhinho
C4C4C4: Cinzento
F9F3F3: Pele clara
EBE5E5: Cinza cool
*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
}

[colorido] {
    background-color: #F9F3F3;
}

[colorido2] {
    background-color: #EBE5E5;
}

[titulo] {
    background-color: #299C95;
    color: #FFF;
}

.botao-verde {
    background-color: #299C95;
    color: #FFF;
    border: 0px;
    border-radius: 90px;
}

.botao-vermelho {
    background-color: #DC1C1C;
    color: #FFF;
    border: 0px;
    border-radius: 90px;
}

.botao-verde:hover , .botao-vermelho:hover {
    color: #FFF;
}

[icon] {
    max-width: 100%;
    max-height: 100%;
}

div[idioma] > img {
    width: 45px;
    height: 45px;
}

[nome] {
    font-size: 1.2em;
}

.friends-container {
    border: 1px solid black;
}

[friend] {
    border: 3px solid #c4c4c4;
    background-color: #f0e4e4;
}

[friend-icon] {
    width: 55px;
    height: 60px;
}

[f-lang] {
    width: 2.5em;
    height: 2.5em;
}

/*[nickname], [f-lang] {  
    border: 1px solid black;
}*/

.botao-verde:hover {
    color: #FFF;
    background: #14837b;
}

.botao-vermelho:hover {
    color: #FFF;
    background: #a80a0a;
}

[link] {
    border: 3px solid #c4c4c4;
}