:root {
    --color-primary-background: #4A41A9;
    --color-secondary-background: #299C95;
    --color-button-secondary: #DC1C1C;
    --color-border-input: #988787;
    --color-primary-input: #EBE5E5;
    --color-secondary-input: #C4C4C4;
    --color-text-input: #684d4d;
    --color-text-home: #646262;

    font-size: 60%;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body, html {
    height: 100vh;
    font-family: 'Varela Round';
}

.top-container {
    background: var(--color-primary-background);
    color: #FFF;
    font-weight: bold;

    height: 70px;
    max-width: 100vw;
    
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .top-container {
        max-width: 100vw;
    }

    .top-container img {
        width: 60px;
        height: 60px;
    }
} 

.top-container > a {
    margin-left: 15px;
    margin-top: 15px;
}

#error-message, #success-message {
    display: none;

    font-size: 1.56em;

    padding: 10px;

    text-align: center; 
    font-weight: bold;
}

#error-message {
    background-color: #BF211E;
    color: white;
}

#success-message {
    background-color: #03B5AA;
    color: white;
}
